body {  
}

.bgCover { 
    background:#000; 
    position:absolute; 
    left:0; 
    top:0; 
    display:none; 
    overflow:hidden 
}

.overlayBox {
    border:1px solid #CC2929;
    position:absolute;
    display:none;
    width:500px;
    height:300px;
    background:#fff;
    overflow: scroll;
}

.overlayContent {
    padding:10px;

}

.closeLink {
    float:right;
    color:red;
}

a:hover { 
    text-decoration:none; 
}

h2 {
    padding:5px;
    margin:0;
}